@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: rgb(156 163 175);
  --background: #121212;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  color: var(--foreground);
}

::-webkit-scrollbar-track {
  background: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
